{# empty Twig template #}

 <div id="barreNavigation"> 
    <ul class="nav nav-pills">
        <li class="active"><a href="#" title="">Morceaux</a></li>
        <li><a href="#" title="">Albums</a></li>
        <li><a href="#" title="">Artistes</a></li>
        <li><a href="#" title="">Genres</a></li>
        <li class="btn btn-primary"><a href="{{ path('ajouter_video') }}" title="Ajouter une video">Ajouter une vidéo</a></li>
    </ul>
</div>