{# empty Twig template #}
    
<section id="HeaderNiveauUn" class="row-fluid">
    
    {# <nav>
        <ul id="pageOfficielles">
            <li>Les pages offcielles : </li>
            <li class="li" style="background-color: #6da1cc"><a href="#" title="Lb crew family">Lb Crew Family</a></li>
            <li class="li" style="background-color: #f7b600"><a href="#" title="Battle pro league">Battle Pro League</a></li>
            <li class="li" style="background-color: #e21a00"><a href="#" title="Da Hip-Hop Show">Da Hip-Hop Show</a></li>
        </ul>
    </nav> #}
    <span class="span3" id="headerNomSite">
        LB-Crew
    </span>
    
    <span class="span6" id="headerInputSearch">
        {# Header FORM SEARCH #} 
        <div id="headerSearch">
            <form id="formHeaderSearch" class="form-inline" method="POST" action="{{ path('lb_crew_racine') }}">
                <div class="input-append">
                    <input id="appendedInput" class="span12" type="search" name="headerSearch" placeholder="Rechercher" />
                    <button class="btn" type="submit" >{{ 'search'|icon }}</button>
                </div>
            </form>
        </div>
    </span>
    
    <span class="span3" id="headerMenu">
    
        {# include '::headerNiveau1.1.html.twig' #}
        {% include '::headerNiveau1.2.html.twig' %}
    
    </span>

        
        
</section>