{# empty Twig template #}

<div id="headerMenuCompte">
    
<div class="dropdown">
    
    <span class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown">
        {{ 'user'|icon('white') }}
        <b class="caret"></b>
    </span>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="position: absolute; right: 0px;">
        <li>{{ 'user'|icon }} Informations personelles</li>
        <li>{{ 'cog'|icon }} Paramètre du compte</li>
        <li>{{ 'enveloppe'|icon }} Messagerie</li>
        <li>Gestion du contenu</li>
    </ul>
    
</div>
    
</div>