{# empty Twig template #}
    
<section id="HeaderNiveauUn" class="row-fluid">
    
    {# <nav>
        <ul id="pageOfficielles">
            <li>Les pages offcielles : </li>
            <li class="li" style="background-color: #6da1cc"><a href="#" title="Lb crew family">Lb Crew Family</a></li>
            <li class="li" style="background-color: #f7b600"><a href="#" title="Battle pro league">Battle Pro League</a></li>
            <li class="li" style="background-color: #e21a00"><a href="#" title="Da Hip-Hop Show">Da Hip-Hop Show</a></li>
        </ul>
    </nav> #}
    <span class="span3" style="background-color: yellowgreen">
        LB-Crew
    </span>
    
    <span class="span6">
    rechercher fjerkg rtmkrt mbrktr
    </span>
    
    <span class="span3" style="background-color: yellowgreen">
    <div id="headerMenuCompte" class="btn-group" > 
        <a class="btn btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"> Action <span class="caret"></span> </a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-user"></i> Dompteurs</a></li>
            <li><a href="#"><i class="icon-picture"></i> Zoos</a></li>
            <li><a href="#"><i class="icon-screenshot"></i> Chasseurs</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-list-alt"></i> Autres témoignages</a></li>
        </ul>
    </div>
    
    </span>

        
        
</section>