{# empty Twig template #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Bienvenue sur le site de la LB crew {% endblock %}</title>
        
        <!-- CSS -->
        {% stylesheets 
            filter='?lessphp, ?yui_css'
            output='css/bootstrap.css'
            'vendor/twitter/bootstrap/less/bootstrap.less'
            'vendor/twitter/bootstrap/less/responsive.less'
            '@LBcrewMediaBundle/Resources/public/css/*' 
            '@LBcrewSiteBundle/Resources/public/css/*'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        
    </head>

<body>
    
    <div class="container-fluid">
        
        <div class="row-fluid">
            
            
            <span class="span12">
                
            {% include '::header.html.twig' %}

            {% block body %}
  
            {% endblock body %}
        
            {% include "::footer.html.twig" %}
                
            </span>
            
        </div>
    </div>
   
    {% javascripts 
        filter='?yui_js'
        'http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'
        '../vendor/twitter/bootstrap/js/*'
        output='js/bootstrap.js' 
        '@LBcrewSiteBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
    </body>
</html>