{# empty Twig template #}

<div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" data-src="holder.js/48x48" src="/lb-crew/web/bundles/lbcrewsite/images/iconeavatar.png">
        </a>
        <div class="media-body">
            <p class="media-heading">
                <a href="#" title="">Pseudo</a>
            </p>
                Profil ? 
            </div>
</div>

<ul class="nav nav-list">
    <li class="nav-header active">Pages officielles</li>
    <li><a href="#">Lb Crew Family</a></li>
    <li><a href="#">Battle pro League</a></li>
    <li><a href="#">Da Hip-Hop Show</a></li>
    
    <li class="nav-header active">List header</li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
</ul>