{# empty Twig template #}


<ul class="nav nav-pills nav-stacked">
    <li class="nav-header active">List header</li>
    <li class="divider"></li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    
    <li class="nav-header active">List header</li>
    <li class="divider"></li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
</ul>