{# empty Twig template #}

<div id="navigationRapide">

    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" data-src="holder.js/88x88/text:Pages" src="/lb-crew/web/bundles/lbcrewsite/images/iconeavatar.png
        </a>
        <div class="media-body">
        <h1 class="media-heading"><a href="#" title="">Pages</a></h1>
        
        
            {{ dump(pages) }}
        </div>
    </div>

    <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Library</a> <span class="divider">/</span></li>
            <li class="active">Data</li>
    </ul>

</div>


    