<nav id="idNavRapide">
    
    <ul class="modal-body">
        <li id="liAccueilNavRapide" style="text-align: center">
        	
                <a href="{{ path('lb_crew_racine') }}" title="Accueil lb crew">
                    <img src="/lb-crew/src/LBcrew/SiteBundle/Resources/public/images/iconeaccueil.png" alt="Icône accueil lb crew"/>
                Accueil</a>
            </li>
            
            <li id="liVideoNavRapide">
                <a href="/accueil/video/voir-video" title="Vidéos lb crew">
                    <img src="/lb-crew/src/LBcrew/SiteBundle/Resources/public/images/iconevideo.png" alt="Icône vidéos lb crew"/>
                Vidéos</a>
            </li>
            
            <li id="liMusiqueNavRapide">
                <a href="/accueil/musique/ecouter-musique" title="Musique lb crew">
                    <img src="/lb-crew/src/LBcrew/SiteBundle/Resources/public/images/iconemusique.png" alt="Icône  lb crew"/>
               Musiques</a>
            </li>
            
            <li id="liPhotoNavRapide">
                <a href="/accueil/photos/voir-photo" title="Photo lb crew">
                    <img src="/lb-crew/src/LBcrew/SiteBundle/Resources/public/images/iconephoto.png" alt="Icône photos lb crew"/>
                Photos</a>
            </li>
            
            <li id="liNewNavRapide">
                <a href="/accueil/news/voir-news" title="News lb crew">
                    <img src="/lb-crew/src/LBcrew/SiteBundle/Resources/public/images/iconenews.png" alt="Icône news lb crew"/>
                News</a>
            </li>
        </ul>
</nav>