{# empty Twig template #}

<nav id="menuDroit">
    <ul>
        
        <li class="titreMenuItem">Derniers inscrits</li>
        <li><a href="#" title="">Hipopeur</a></li>
        <li><a href="#" title="">Lb crew</a></li>
        <li><a href="#" title="">Da hip hop show</a></li>
        
        <li class="titreMenuItem">Groupe</li>
        <li><a href="#" title="">lb crew family</a></li>
        <li><a href="#" title="">CB crew</a></li>
        
        <li class="titreMenuItem">Médias</li>
        <li><a href="#" title="">vidéos</a></li>
        <li><a href="#" title="">Musiques</a></li>
        <li><a href="#" title="">Photos</a></li>
        
    </ul>
</nav>